@{
    ViewBag.Title = "Import sản phẩm";
}

<div class="dxpnlControl_Metropolis" style="font-family: Helvetica; font-size: 14px; width: 100%;">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 style="color: #6BABDF;">@ViewBag.Title </h4>
        </div>
    </div>
    <hr class="custom">
    Click <a href="/ImportProduct/Template" target="_blank"><u>vào đây</u></a> để tải file danh sách các  sản phẩm mẫu.
     <br />
    <br />
    Click <a href="/ImportProduct/Export" target="_blank"><u>vào đây</u></a> để tải file danh sách các sản phẩm hiện có.
    <hr class="custom">
    <form action="/ImportProduct/Import" method="post" enctype="multipart/form-data">
        <div style="width:350px">
        <label>Chọn cửa hàng : </label>
            @Html.DropDownList("StoreId", null, new { @class = "form-control" })
        </div>
        <br />
        <label>Chọn File cần Import: </label>
        <br />
        <input type="file" name="excelfile" class="btn btn-default custom-button btn-default minw100" />
        <br />
        <input type="submit" id="btnImport" value="Lưu" class="btn btn-warning custom-button btn-warning minw100" />
        <span style="color: red;">@ViewBag.Import </span>
        <br />

    </form>
</div>
