@{
    ViewBag.Title = "Sao lưu hình ảnh vào Database";
}
<hr class="custom">
<div class="row head">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 style="color: red;">@ViewBag.Message</h4>
    </div>
</div>
<hr class="custom">

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
