@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Lỗi.</h1>
    <h2 class="error">Vui lòng click <a href="/">vào đây</a> để về trang chủ.</h2>
</hgroup>
