@model List<OrderDetailViewModel>

<form id="frmList" action="Save" method="post">
    <input type="hidden"  name="SumPriceOfOrderDetail" id="ViewBagSumPrice"/>
    <input type="hidden"  name="TotalPrice" id="ViewBagTotalPrice"/>
    <input type="hidden"  name="TotalBillDiscount" id="ViewBagTotalBillDiscount"/>
    <input type="hidden"  name="TotalVAT" id="ViewBagTotalVAT"/>
    <div class="form-horizontal">
        <table id="tblImportDetail" class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="warning">
                    <th style="width:40px" class="text-center">STT</th>
                    <th style="width:100px; text-align:center;">Sản Phẩm</th>
                    @*<th style="width:100px">Tên sản phẩm</th>*@
                    <th style="width:110px">Giá</th>
                    <th style="width:100px">Số lượng</th>
                    @*<th style="width:100px">Giảm giá</th>*@
                    <th style="width:130px">Thành tiền</th>
                    <th style="width:130px">Ghi chú</th>
                    <th style="width:100px">@Resources.LanguageResource.Actions</th>
                </tr>
            </thead>
            <tbody>
               @Html.Partial("_CreateListInner", Model)
            </tbody>
            <tfoot>
                 <tr>
                    <td colspan="8">
                        <div class="col-md-4">
                                <div class="col-md-4">
                                    <input type="text"  id="ProQty" name="ProQty" class="form-control text-center " value="1" />
                                </div>
                              <div class="col-md-8">
                                    <input type="text"  id="scanBarcode" name="scanBarcode" class="form-control "   placeholder="Quét mã vạch.." />
                                </div>
                          </div>
                        <button id="btnAddNewRow" type="button" class="btn btn-default" style="float:right">Thêm mặt hàng</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><strong>Tổng cộng:</strong></td>
                    <td class="text-right" id="SumPrice" >
                        0
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><strong>Giảm giá:</strong></td>
                    <td class="text-right" style="width:100px;">
                        <div class="input-group">
                            <input type="text" name="BillDiscount" id="BillDiscount" class="form-control text-right" />
                            <span class=" input-group-addon">
                                <select name="BillDiscountTypeId" style="border: 0px; background-color: #eee;">
                                    <option value="1">$</option>
                                    <option value="2" selected="selected">%</option>
                                </select>
                            </span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><strong>VAT(%):</strong></td>
                    <td class="text-right"  >
                        <input type="text" name="BillVAT" id="BillVAT" class="form-control text-right" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4"><strong>Tổng cộng thành tiền:</strong></td>
                    <td class="text-right" id="TotalPrice" >
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4">
                        <strong>Phương thức thanh toán (<span class="color-red">*</span>):</strong>
                    </td>
                    <td class="text-right" >
                        <select name="PaymentMethodId" class="form-control">
                            <option value="0">--Vui lòng chọn PTTT--</option>
                            <option value="2">Tiền mặt</option>
                            <option value="3">Chuyển khoản</option>
                            <option value="4">Công nợ</option>
                        </select>
                          @* <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                @Html.DropDownList("PaymentMethodId", null, "-Vui lòng chọn PTTT-", new { @class = "form-control" })
                            </div>*@
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="divGuestAmountPaid">
                    <td class="text-right" colspan="4">
                        <strong>Số tiền khách trả:</strong>
                    </td>
                    <td class="text-right" >
                        <input type="text"  class="form-control text-right" id="GuestAmountPaid" name="GuestAmountPaid"/>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                   <td class="text-right" colspan="4"><strong>Số tiền còn lại:</strong></td>
                    <td class="text-right" id="RemainingAmount2">
                        <span></span>
                    </td>
                    <td>
                        <input type="hidden"  class="form-control text-right" id="RemainingAmount" name="RemainingAmount"/>
                    </td>
                    <td></td>
                </tr>
                @*<tr>
                   <td class="text-right" colspan="4"><strong>Mở rộng:</strong></td>
                    <td class="text-left" >
                        <select name="CreateReceipt" class="form-control">
                            <option value="1">Tự động tạo phiếu thu</option>
                            <option value="0">Không tạo phiếu thu</option>
                        </select>
                    </td>
                    <td colspan="2"></td>
                </tr>*@
               
            </tfoot>
        </table>
    </div>
</form>

