@model int

@*<span id="download_now" class="glyphicon glyphicon-info-sign"></span>*@
<div class="tooltip">
    <table style="margin:0">
        <tbody>
            <tr>
                <td>
                    Thông tin định lượng
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*<script src="~/Scripts/MasterChicCutService/tooltip.js"></script>*@
