<div id="footer" class="container">
    <div class="container-fluid">
        <hr style="margin-top:10px; margin-bottom:10px;" />
        <p>
             Copyright © 2016 - <a href="http://isdcorp.vn" target="_blank"><strong>ISD Corp</strong></a>  
        </p>
    </div>
</div>