@Html.Partial("FilterDate")
<div class="col-sm-6 col-xs-12">
	<label class="col-md-3 col-sm-3 col-xs-12 control-label">
		Tổng tiền
	</label>
	<label class="col-md-2 col-sm-2 col-xs-12 control-label">
		từ
	</label>
	<div class="col-md-2 col-sm-2 col-xs-12 control-label text-left">
		<table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
			<tbody>
				<tr>
					<td class="dxic" style="width: 100%;">
						<input type="number" name="FromTotalPrice" class="dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" />
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<label class="col-md-2 col-sm-2 col-xs-12 control-label">
		đến
	</label>
	<div class="col-md-3 col-sm-3 col-xs-12 control-label text-left">
		<table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
			<tbody>
				<tr>
					<td class="dxic" style="width: 100%;">
						<input type="number" name="ToTotalPrice" class="dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
