<div class="col-sm-3 col-xs-12">
	<label class="col-sm-6 col-xs-12 control-label">
		Từ ngày
	</label>
	<div class="col-sm-6 col-xs-12 control-label text-left">
		<table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
			<tbody>
				<tr>
					<td class="dxic" style="width: 100%;">
						<input type="date" name="FromDate"  class="dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="col-sm-3 col-xs-12">
	<label class="col-sm-6 col-xs-12 control-label">
		Đến ngày
	</label>
	<div class="col-sm-6 col-xs-12 control-label text-left">
		<table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
			<tbody>
				<tr>
					<td class="dxic" style="width: 100%;">
						<input type="date" name="ToDate" class="dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>