 <form action="/ProductUpdates/Import" id="fileupload" method="post" enctype="multipart/form-data">
        <br />
     <div class="row">
         <div class="col-md-4 col-sm-4 col-xs-12">
             <label>Chọn File cần Import: </label>
             <input type="file" name="excelfile" id="FileUpload" class="btn btn-default custom-button btn-default minw100 form-control" />
         </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
              <br />
             <a id="btnImport" class="btn col-sm btn-warning "  style="margin: 5px;">Tải lên</a>
          </div>
     </div>
        <span style="color: red;" id="Messenger"> </span>
        <br />
    
    </form>
<hr class="custom" />
<div id="contentProductUpdateList">
    @Html.Action("_ProductUpdateList")
</div>

<!--Alert_Popup_Delete-->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Xác nhận xoá phiếu cập nhật sản phẩm</h4>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xoá cập nhật sản phẩm : <strong></strong>? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ bỏ</button>
                <button type="button" class="btn btn-danger btn-ok">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!--End_Popup_Delete-->


<!--Start Alert_Popup_Autoimex-->
<div class="modal fade" id="confirm-autoimex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xác nhận cập nhật sản phẩm </h4>
            </div>
            <div class="modal-body">
                <p>Bạn muốn cập nhật sản phẩm : <strong></strong>? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ bỏ</button>
                <button type="button" class="btn btn-danger btn-ok">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!--End Alert_Popup_Autoimex-->
<div class="loading-modal"></div>